* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main_wrapper {
	width: 100vw;
	height: 100vh;
}

.chart_container {
	float: left;
	width: 50%;
	height: 50%;
	padding: 20px;
	border: 1px solid black;
}
